GitPython==3.1.27
hydra-core==1.2.0
numpy==1.21.5
omegaconf==2.2.2
pandas==1.4.0
pymongo==4.1.1
pytorch_lightning==1.6.4
PyYAML==6.0
scikit_learn==1.1.1
torch==1.12.0
torchmetrics==0.7.2
tqdm==4.62.3
wandb==0.12.20

plotly~=5.6.0
scikit-learn~=1.0.2
typing~=3.7.4.3
matplotlib~=3.5.1